<section id="section-about" class="clearfix">

    <div class="heading">
        <h2>Meet the Doctors</h2>
    </div>

    <div class="about__row about__row--bradley-adams">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <h3>C. Bradley Adams, DDS</h3>
                    <h4>General & Cosmetic Dentist</h4>
                    <p>Dr. Brad Adams is a unique small town dentist. His extensive focus on postdoctoral study of
                        clinical dentistry places him in the top 5% of all dentists for continuing education, enabling
                        him to provide some of the latest advances in dental technology—things like digital x-rays,
                        implant dentistry , and Invisalign orthodontics.</p>
                    <p>Best of all, Dr. Adams combines this “big city” clinical dentistry with “small town” care and
                        communication that will make you feel right at home. You won’t get any snooty lectures here,
                        just clear, understandable explanations and the latest in advanced dentistry. It’s the best of
                        both worlds, and it really is something to smile about!</p>
                    <p>Dr. Adams was the Recipient of the American Dental Association Golden Apple Award for New Dentist
                        Leadership in 2012, an honor given to ONE dentist in the US Annually. He was also the Recipient
                        of the Monte Miska Award in Prosthodontic excellence at UNC.</p>
                </div>
            </div>
        </div>
        <img src="/assets/team/brad-mobile.jpg" alt="Dr. Adams" class="hidden-lg hidden-md">
    </div>

    <div class="about-nordone--wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Albert P. Nordone, DDS</h3>
                    <p>Dr. Nordone graduated from Loyola College in Maryland in 1982 with a dual degree in Biology and French.
                        After research at the University of Paris, France, and Johns Hopkins University he attended Emory
                        University School of Dentistry where he received his D.D.S. degree in 1986.</p>
                    <p>After practicing dentistry as an associate in Buckhead until October 1987, Dr. Nordone joined Dr.
                        Priluck in his practice in Dunwoody. He became a partner in September of 1989.</p>
                    <p>Dr. Nordone is a member of the American Dental Association, Georgia Dental Association, Northern
                        District Dental Society, Hinman Dental Society and the American Academy of Cosmetic Dentistry. He served
                        as Chairman of several committees in these organizations and sat on the Executive Council of the
                        Northern District Dental Society for 3 years. His postgraduate education has included completion of all
                        six continuums at the Pankey Institute in Florida.</p>
                    <p>Dr. Nordone is a graduate of the world-renowned Las Vegas Institute for Advanced Dental Studies. This
                        institute provides rigorous postgraduate training in advanced cosmetic techniques.</p>
                    <p>Dr. Nordone is married with 4 children. He enjoys time with his family and participating in his
                        children's activities. He and his wife, Daphne, are very active in their church and vigorously support
                        several charitable organizations.</p>
                </div>
            </div>
        </div>
        <img src="/assets/team/bio-nordone-mobile.jpg" alt="Dr. Nordone" class="hidden-lg hidden-md">
    </div>

    <div class="section-team-carosuel">
        <div class="container">
            <div class="team-carousel--wrapper">
                <div class="js-team-carousel owl-carousel">
                    <div class="team-item">
                        <a href="#" data-target="#teamModal1" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/" alt="Ellen">
                            </div>
                            <h5>Ellen</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal2" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/" alt="Jennifer">
                            </div>
                            <h5>Jennifer</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal3" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/Jeannine.jpg" alt="Jeannine">
                            </div>
                            <h5>Jeannine</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal4" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/chakira.jpg" alt="Chakira">
                            </div>
                            <h5>Chakira</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal5" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/" alt="Tiffany">
                            </div>
                            <h5>Tiffany</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal6" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/beth.jpg" alt="Beth">
                            </div>
                            <h5>Beth</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal7" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/Maddi.jpg" alt="Maddi">
                            </div>
                            <h5>Maddi</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal8" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/stacy.jpg" alt="Stacy">
                            </div>
                            <h5>Stacy</h5>
                        </a>
                    </div>
                    <div class="team-item">
                        <a href="#" data-target="#teamModal9" data-toggle="modal">
                            <div class="image-wrapper">
                                <img src="assets/team/penny.jpg" alt="Penny">
                            </div>
                            <h5>Penny</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Team Modals-->

    <div class="team-modals">

        <div id="teamModal1" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Ellen Trauffer</h4>
                        <h5>Registered Dental Hygienist</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/" alt="Ellen"></div>
                        <p>Ellen has been with DWAD since 1999 and feels blessed to be working with a great team. Her career
                            in dentistry started in 1969 when she decided to return to school to obtain a Dental Hygiene degree
                            from Carroll Technical College in 1998.</p>
                        <p>Ellen is the proud grandmother of two girls, ages 11 and 6; her son and daughter-in-law always
                            include "Grandmaw" in all their activities. Ellen also enjoys her Jazzercise sessions where she is a
                            class monitor.</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal2" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Jennifer Henry, RDH</h4>
                        <h5>Registered Dental Hygienist</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/" alt="Jennifer"></div>
                        <p>Jennifer, a Georgia native, began her dental career as a dental assistant while attending the
                            University of West Georgia. She has 5 years' experience as a Certified and Expanded Functions Dental
                            Assistant in addition to her skills as a dental hygienist. After graduating with an Associate of
                            Science in Dental Hygiene from Georgia Perimeter College, Jennifer joined Dentistry with a
                            Difference with the hope of instilling her passion for oral health into each patient. Her perky
                            personality can be attributed to her time as a West Georgia cheerleader.</p>
                        <p>Jennifer donates her time to A Community of Smiles and Dentistry from the Heart; these clinics
                            provide free dental care to those in need.</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal3" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Jeannine Jones</h4>
                        <h5>Dental Assistant</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/Jeannine.jpg" alt="Jeannine"></div>
                        <p>Jeannine is a transplant from New York. She moved here 8 years ago with her junior high sweet heart
                            and husband of 18 years. She has over 15 years of clinical experience with advanced training in full
                            mouth reconstruction and cosmetic dentistry.</p>
                        <p>Jeannine has attended the Las Vegas Institute for Advanced Dental Studies, and the Rosenthal
                            Institute at NYU. She has been Dr. Nordone's clinical assistant for the past 8 years. She enjoys
                            spending her time with her two daughters and two grandsons as well as traveling.</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal4" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Chakira</h4>
                        <h5>Dental Assistant</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/chakira.jpg" alt="Chakira"></div>
                        <p>Chakira has enjoyed working as a certified dental assistant for 8 years. She was raised in Detroit,
                            MI. After graduating high school she moved to Denver, CO where she attended Pima Medical Institute
                            to get her certificate in Dental Assisting. Chakira enjoys spending time with her family and
                            friends, cooking, and traveling.</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal5" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Tiffany</h4>
                        <h5>Certified Dental Assistant</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/.jpg" alt="Tiffany"></div>
                        <p>Tiffany has enjoyed working as a certified dental assistant for 6 years. She was raised in West Palm Beach, FL and attended Palm Beach State College to get her certification in Dental Assisting. She has training in all aspects of dentistry with advanced training in sedation dentistry. She especially loves assisting in smile makeover cases knowing she can be a part of that life changing event. She enjoys hiking, running, snorkeling, traveling and spending time with her family and friends.</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal6" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Beth Smith, D.A</h4>
                        <h5>Scheduling Coordinator</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/beth.jpg" alt="Beth"></div>
                        <p>Beth is a S.C. native. She began her dental career as a dental assistant graduating from Midlands Technical College in Columbia, S.C. in 1985. She went on to further her dental career as a practice administrator. She has enjoyed working and being in the art of dentistry for over 26 years! Beth is privileged to be a part of this great team at DWAD! She enjoys spending her free time with her 19 year old son, exercising and singing!</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal7" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Maddi</h4>
                        <h5>Scheduling Coordinator</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/Maddi.jpg" alt="Maddi"></div>
                        <p>Maddi has been with DWAD since 2014. Her career in dentistry began in 1980 as a Dental Assistant. She attended Univ of FL where she obtained her degree in Dental Hygiene in 1983. A stay at home mom to son Johnny, Maddi joined the DWAD team as Dr. Nordone's Scheduling Coordinator and feels truly blessed to be part of such a great team!</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal8" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Stacy</h4>
                        <h5>Financial/Insurance Coordinator</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/stacy.jpg" alt="Stacy"></div>
                        <p>Stacy is a native of Indianapolis, Indiana and moved to Smyrna, Georgia 12 years ago. She has
                            enjoyed working in dentistry for the past 20 years. Stacy believes patients should be treated with
                            the very best professional care from the moment they walk in the door, until their work is
                            completed.</p>
                        <p>Stacy values spending time with family and friends, going rollerblading on the Comet Trail and
                            listening to live music.</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="teamModal9" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Penny Ruda</h4>
                        <h5>Finance & Insurance Coordinator</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-image"><img src="assets/team/penny.jpg" alt="Penny Ruda"></div>
                        <p>Penny has enjoyed working in the dental field for many years. She was born in Brooklyn, NY and was
                            raised in Pennsylvania Dutch country. She spent her high school years in Philadelphia and graduated
                            from Temple University. After moving to Atlanta in 1971, she worked for a large cosmetic and family
                            dental practice prior to joining Drs. Priluck and Nordone in 1974.</p>
                        <p>At DWAD, Penny manages patient accounts and insurance benefits. Over the years, she has thoroughly
                            enjoyed watching four generations of Dunwoody and community families become part of the Dentistry
                            with a Difference family. She has attended numerous continuing education dental study programs,
                            including: The Rosenthal Institute in New York, New Orleans Academy of Cosmetic Dentistry meeting,
                            Georgia Academy of Cosmetic Dentistry meetings, and the Chicago and Dallas ADA meetings. Also, she
                            serves on the Advisory Board of the Perimeter College School of Dental Hygiene. When not working,
                            Penny enjoys taking adult education classes and travels with her lucky husband of 40 years to see
                            their children and grandchildren.</p>
                        <p>Penny is always available to discuss patient accounts and insurance benefits. (And, because she was
                            raised in Pennsylvania Dutch country, Penny makes incredibly delicious apple and Shoo-fly
                            pies!!)</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

    <div class="video-promo">
        <div class="link-wrapper">
            <a href="#" data-target="#videoModal" data-toggle="modal">
                <h2>WATCH VIDEO</h2>
                <img src="assets/play-video.svg" alt="Play Video">
            </a>
        </div>
    </div>

    <div class="videoModal--wrapper">
        <div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Priluck and Nordone</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="video-one" width="560" height="315" src="https://www.youtube.com/embed/_Rq_xN5cL-A" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</section>