<section id="section-care-credit">
    <div class="flex--wrapper">
        <div class="financing">
            <h4 class="text">Financing Available:</h4>
        </div>
        <div class="logo">
            <a href="https://www.carecredit.com/" target="_blank"><img src="/assets/care-credit.png" alt="Care Credit"></a>
        </div>
    </div>
</section>