<!-- Marquee Slider
============================================= -->
<section id="mobile-background" class="hidden-md hidden-lg">
    <h1 class="hidden">Dentistry for Jeffrey Priluck</h1>
    <a href="#" data-scrollTo="#section-specials" data-offset="0">
        <img src="assets/slide1-mobile.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</section>

<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix hidden-xs">
    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent swiper-container-horizontal">
            <div class="swiper-wrapper">

                <!--Slide 1-->
                <!--=======-->
                <div class="swiper-slide swiper-slide-active slide1">
                    <div class="container clearfix slide-padding">
                        <div class="row">
                            <div class="col-sm-6 col-sm-push-6">
                                <h1>Big City<br>Dentistry,</h1>
                                <h2>small town<br>relationships</h2>
                                <h5>NOW WELCOMING THE WHOLE FAMILY</h5>
                                <a href="#" class="btn" data-scrollTo="#section-specials" data-offset="60">New Patient Offers</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Slide 2-->
                <!--=======-->
                <div class="swiper-slide slide2">
                    <div class="container clearfix slide-padding">
                        <div class="row">
                            <div class="col-sm-6 col-sm-push-6">
                                <h2>See What Our<br>Patients Are Saying</h2>
                                <div class="stars">
                                    <h2><i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i></h2>
                                </div>
                                <h3 class="copy">“Great practice, caring people! Highly recommend Dentistry with a Difference!” <strong>&#8209;Richard&nbsp;H.</strong></h3>
                                <a href="#" class="btn" data-offset="60" data-scrollTo="#section-reviews">Read More Reviews</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Slide 3-->
                <!--=======-->
                <div class="swiper-slide slide3">
                    <div class="container clearfix slide-padding">
                        <div class="row">
                            <div class="col-sm-6 col-sm-push-6">
                                <h2>See What Our<br>Patients Are Saying</h2>
                                <div class="stars">
                                    <h2><i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i></h2>
                                </div>
                                <h3 class="copy">“Great practice, caring people! Highly recommend Dentistry with a Difference!” <strong>&#8209;Richard&nbsp;H.</strong></h3>
                                <a href="#" class="btn" data-offset="60" data-scrollTo="#section-reviews">Read More Reviews</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Slide 4-->
                <!--=======-->
                <div class="swiper-slide slide4">
                    <div class="container clearfix slide-padding">
                        <div class="row">
                            <div class="col-sm-6 col-sm-push-6">
                                <h2>See What Our<br>Patients Are Saying</h2>
                                <div class="stars">
                                    <h2><i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i></h2>
                                </div>
                                <h3 class="copy">“Great practice, caring people! Highly recommend Dentistry with a Difference!” <strong>&#8209;Richard&nbsp;H.</strong></h3>
                                <a href="#" class="btn" data-offset="60" data-scrollTo="#section-reviews">Read More Reviews</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
{% include 'organisms/call-to-action__three-to-one.twig' %}
