.services-carousel {
  &__carousel {
    h5 {
      text-align: center;
      color: #024378;
      font-family: $ff-cardo;
      font-weight: 700;
    }
  }
  .services-carousel--wrapper {
    padding: 0 60px;
  }
  .services-carousel--image {
    @include hover-plus();
  }

  .service-modal-wrapper {
    h5 {
      margin-bottom: 0;
    }
    img {
      max-width: 200px;
      @media screen and (max-width: $width-sm) {
        display: none;
      }
    }
    .modal-image {
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
