<div class="down-arrow__wrapper">
    <a href="#" data-scrollto="#content" data-offset="60" class="">
        <img src="/assets/down_arrow.png" class="infinite animated fadeInDown down-arrow" alt="down arrow">
    </a>
</div>