<div class="services-carousel">

</div>

<div class="heading">
    <h2>More Services</h2>
    <p>Click an item below to learn more.</p>
</div>

<div class="services-carousel__carousel">
    <div class="container">
        <div class="services-carousel--wrapper">
            <div class="owl-carousel js-services-carousel">
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal1"><div class="services-carousel--image"><img src="assets/Services/smile%20whitening.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal1"><h5>Smile Whitening</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal2"><div class="services-carousel--image"><img src="assets/Services/Dental%20Implants.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal2"><h5>Implant Dentistry</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal3"><div class="services-carousel--image"><img src="assets/Services/Family%20Care.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal3"><h5>Family Care</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal4"><div class="services-carousel--image"><img src="assets/Services/Mercury%20Free.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal4"><h5>Crowns & Bridges</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal5"><div class="services-carousel--image"><img src="assets/Services/veneers.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal5"><h5>Veneers</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal6"><div class="services-carousel--image"><img src="assets/Services/Dental%20Implants.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal6"><h5>Dental Implants</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal7"><div class="services-carousel--image"><img src="assets/Services/Cosmetic%20Dentures.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal7"><h5>Cosmetic Dentures</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal8"><div class="services-carousel--image"><img src="assets/Services/digital-xrays.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal8"><h5>Digital X-Rays</h5></a>
                    </div>
                </div>
                <div class="services-carousel--item">
                    <a href="#" data-toggle="modal" data-target="#service-modal9"><div class="services-carousel--image"><img src="assets/Services/sedation-dentistry.jpg" alt="Service Image"></div></a>
                    <div class="services-carousel--title">
                        <a href="#" data-toggle="modal" data-target="#service-modal9"><h5>Sedation Dentistry</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Service Modals-->
<div class="service-modal-wrapper">

    <!--Modals 1 - 3-->
    <div id="service-modal1" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Smile-Whitening</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/smile%20whitening.jpg" alt="services image"></div>
                    <p>Many everyday things like coffee, tea and wine can significantly dull teeth. Smile-whitening
                        enables us to significantly brighten your smile for that dazzling white smile you deserve.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="service-modal3" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Family Care</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/Family%20Care.jpg" alt="services image"></div>
                    <p>From toddlers to the elderly, our skilled dental team is familiar with the unique needs of every
                        patient, no matter their age. Our goal is to help them develop great oral habits that will last them
                        a lifetime. Join us today and discover how our practice can help treat your entire family.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="service-modal8" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Digital X-Rays</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/digital-xrays.jpg" alt="services image"></div>
                    <p>Our use of digital x-ray technology reduces your radiation exposure and eliminates the use of
                        chemicals. It’s better for you and the environment.</p>
                    <p>It's also easy for you to see what the doctor sees. Your digital x-ray can be seen on a computer
                        screen located next to your dental chair. This helps you understand your needs and make informed
                        choices about your treatment.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--Modals 4 - 6-->
    <div id="service-modal2" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Implant Dentistry</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/Dental%20Implants.jpg" alt="services image"></div>
                    <p>Dental implants are a great option for replacing missing teeth, improving chewing ability, eliminating bridges, and replacing dentures. Several implants may provide a base for a series of artificial teeth known as a fixed bridge. Implants can even be used to secure a full set of removable dentures for people who have no remaining natural teeth.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="service-modal4" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crowns and Bridges</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/Mercury%20Free.jpg" alt="services image"></div>
                    <p>Protect and keep badly decayed or fractured teeth while maintaining a beautiful smile. Made to
                        perfectly match the shape and shade of your other teeth, they're durable, strong, and
                        undetectable.</p>
                    <p>Crowns should be placed before the tooth is so decayed that it may fracture. This can often help
                        prevent the expense of root canal therapy in the future. If a tooth is too damaged to have a crown
                        applied, a porcelain bridge may be a good alternative.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="service-modal7" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cosmetic Dentures</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/Cosmetic%20Dentures.jpg" alt="services image"></div>
                    <p>A well made denture is not only comfortable and functions properly; it also allows the wearer to
                        smile with confidence, knowing that their smile is no different than it would be with natural
                        teeth.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--Modals 7 - 9-->
    <div id="service-modal5" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Veneers</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/veneers.jpg" alt="services image"></div>
                    <p>Veneers are very thin porcelain pieces that are custom made to adhere directly to the front of
                        teeth without grinding or shaving. Transform your smile without drilling on your natural teeth!</p>
                    <p>In the hands of a highly skilled dentist, porcelain laminates can provide you with an incredibly
                        natural, beautiful smile. They are virtually undetectable and can dramatically improve your
                        appearance. They are durable and long-lasting when compared to other cosmetic treatments.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="service-modal6" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Implant-Supported Dentures</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/Dental%20Implants.jpg" alt="services image"></div>
                    <p>Do you wear dentures or have a mouthful of missing or failing teeth? Eat what you want again,
                        smile, laugh, and look and feel years younger with All-on-4® implant-supported dentures.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="service-modal9" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sedation Dentistry</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image"><img src="assets/Services/sedation-dentistry.jpg" alt="services image"></div>
                    <p>Sedation dentistry is an excellent treatment for patients with extensive dental needs, or who are
                        concerned about anxiety, difficulty getting numb, or sensitive teeth.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>