<section id="video-promo">
    <div class="heading">
        <h2>Watch Our Video</h2>
    </div>
    <div class="container video__wrapper">
        <iframe src="https://player.vimeo.com/video/205090959" width="640" height="272" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>