<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include '/organisms/head.twig' %}

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  {% include 'organisms/header.twig' %}

  {% include 'organisms/marquee.twig' %}

    <!-- Content
  ============================================= -->

    <div id="content" >

        <div>

            {% include 'organisms/about.twig' %}

            <section id="section-specials">

                <div class="container clearfix">
                    <div class="col-lg-6 col-lg-push-6">
                        <div class="center">
                            <h2>Limited&nbsp;Time Summer&nbsp;Specials</h2>
                            <h5>Offer Ends September 20th, 2017</h5>
                        </div>
                        <div class="row border-top">
                            <div class="box-wrap"><div class="box box-1"><span class="dollar">$</span><span class="price">65</span>
                                    <div class="save">SAVE $246</div></div></div>
                            <h6>New&nbsp;Patient&nbsp;Dental&nbsp;Exam</h6>
                            <p>Includes comprehensive exam by the doctor and necessary x‑rays. (D0150, D0210)</p>
                        </div>

                        <div class="row">
                            <div class="box-wrap"><div class="box box-2"><span class="dollar">$</span><span class="price">45</span>
                                    <div class="save">SAVE $88</div></div></div>
                            <h6>New&nbsp;Patient&nbsp;Dental&nbsp;Cleaning</h6>
                            <p>Includes a professional dental cleaning. A new patient exam is required. Does not include periodontal therapy. (D1110) ​</p>
                        </div>

                        <div class="row">
                            <div class="box-wrap"><div class="box box-3"><span class="dollar">$</span><span class="price">99</span>
                                    <div class="save">SAVE $243</div></div></div>
                            <h6>New&nbsp;Children’s&nbsp;Exam and&nbsp;Cleaning</h6>
                            <p>Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed x‑rays, and a comprehensive exam. (D0150, D0274, D1120, D1208)</p>
                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
                <div class="specials-below hidden-lg">
                    <img src="/assets/specials-bg-mobile.jpg" alt="Specials Mobile">
                </div>

            </section>

            <section id="cta-two" class="cta__three-to-one">
                <div class="container">
                    <div class="flex--wrapper">
                        <div class="new-patient flex--item">
                            <h5 class="text">New Patient Hotline</h5>
                            <h2 class="new-patient-number"><a href="tel:1-770-901-2622">(770)&nbsp;901&#8209;2622</a></h2>
                        </div>
                        <div class="btn--wrapper flex--item">
                            <a href="#" class="btn" data-target="#requestAppointmentForm" data-toggle="modal">Request An Appointment</a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-reviews">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 center">
                            <div class="heading">
                                <h2>What Our Patients Are Saying</h2>
                            </div>
                            <div id="bf-revz-widget-2613548623" style="-webkit-overflow-scrolling:touch;">
                                <div class="bf-dv"><span class="bf-spn">powered by <a class="bf-pro" href="http://www.tysonsteele.com/" target="_blank">Tyson Steele Associates</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="mobile-image hidden-lg hidden-md hidden-sm">-->
                <!--<img src="/assets/reviews-bg.jpeg" alt="Happy Couple with nice teeth">-->
                <!--</div>-->
            </section>

            <section id="section-services" class="parallax">
                <div class="heading">
                    <div class="container">
                        <h2>Our Services</h2>
                        <P>By actively preventing disease and decay through regular home care, professional dental cleanings and
                            regular exams, we'll partner with you to maintain your healthy, beautiful smile. Prevention is always better
                            than treatment, so if it's been a while since you've seen a dentist, please give us a call or <a href="#" data-target="#requestAppointmentForm" data-toggle="modal" target="_blank">click&nbsp;to&nbsp;request&nbsp;an&nbsp;appointment</a>.</P>
                    </div>
                </div>

                <div class="services--slab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Smile Makeovers</h2>
                                <p>Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful,
                                    bright, healthy smile will increase self-confidence and overall life satisfaction. Cosmetic dentistry
                                    includes things like tooth-colored restorations, dental implants, and crowns. We have many options, so
                                    please call us today!</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-lg hidden-md">
                        <img src="/assets/Services/cosmetic-mobile.jpg" alt="Woman Smiling">
                    </div>
                </div>

                <div class="heading">
                    <h2>More Services</h2>
                    <p>Click an item below to learn more.</p>
                </div>

                <div class="services-carousel">
                    <div class="container">
                        <div class="services-carousel--wrapper">
                            <div class="owl-carousel js-services-carousel">
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal1"><div class="services-carousel--image"><img src="assets/Services/smile%20whitening.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal1"><h5>Smile Whitening</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal2"><div class="services-carousel--image"><img src="assets/Services/Dental%20Implants.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal2"><h5>Implant Dentistry</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal3"><div class="services-carousel--image"><img src="assets/Services/Family%20Care.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal3"><h5>Family Care</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal4"><div class="services-carousel--image"><img src="assets/Services/Mercury%20Free.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal4"><h5>Crowns & Bridges</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal5"><div class="services-carousel--image"><img src="assets/Services/veneers.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal5"><h5>Veneers</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal6"><div class="services-carousel--image"><img src="assets/Services/Dental%20Implants.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal6"><h5>Dental Implants</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal7"><div class="services-carousel--image"><img src="assets/Services/Cosmetic%20Dentures.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal7"><h5>Cosmetic Dentures</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal8"><div class="services-carousel--image"><img src="assets/Services/digital-xrays.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal8"><h5>Digital X-Rays</h5></a>
                                    </div>
                                </div>
                                <div class="services-carousel--item">
                                    <a href="#" data-toggle="modal" data-target="#service-modal9"><div class="services-carousel--image"><img src="assets/Services/sedation-dentistry.jpg" alt="Service Image"></div></a>
                                    <div class="services-carousel--title">
                                        <a href="#" data-toggle="modal" data-target="#service-modal9"><h5>Sedation Dentistry</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Service Modals-->
                <div class="service-modal-wrapper">

                    <!--Modals 1 - 3-->
                    <div id="service-modal1" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Smile-Whitening</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/smile%20whitening.jpg" alt="services image"></div>
                                    <p>Many everyday things like coffee, tea and wine can significantly dull teeth. Smile-whitening
                                        enables us to significantly brighten your smile for that dazzling white smile you deserve.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div id="service-modal3" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Family Care</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/Family%20Care.jpg" alt="services image"></div>
                                    <p>From toddlers to the elderly, our skilled dental team is familiar with the unique needs of every
                                        patient, no matter their age. Our goal is to help them develop great oral habits that will last them
                                        a lifetime. Join us today and discover how our practice can help treat your entire family.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div id="service-modal8" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Digital X-Rays</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/digital-xrays.jpg" alt="services image"></div>
                                    <p>Our use of digital x-ray technology reduces your radiation exposure and eliminates the use of
                                        chemicals. It’s better for you and the environment.</p>
                                    <p>It's also easy for you to see what the doctor sees. Your digital x-ray can be seen on a computer
                                        screen located next to your dental chair. This helps you understand your needs and make informed
                                        choices about your treatment.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <!--Modals 4 - 6-->
                    <div id="service-modal2" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Implant Dentistry</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/Dental%20Implants.jpg" alt="services image"></div>
                                    <p>Dental implants are a great option for replacing missing teeth, improving chewing ability, eliminating bridges, and replacing dentures. Several implants may provide a base for a series of artificial teeth known as a fixed bridge. Implants can even be used to secure a full set of removable dentures for people who have no remaining natural teeth.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div id="service-modal4" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Crowns and Bridges</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/Mercury%20Free.jpg" alt="services image"></div>
                                    <p>Protect and keep badly decayed or fractured teeth while maintaining a beautiful smile. Made to
                                        perfectly match the shape and shade of your other teeth, they're durable, strong, and
                                        undetectable.</p>
                                    <p>Crowns should be placed before the tooth is so decayed that it may fracture. This can often help
                                        prevent the expense of root canal therapy in the future. If a tooth is too damaged to have a crown
                                        applied, a porcelain bridge may be a good alternative.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div id="service-modal7" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Cosmetic Dentures</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/Cosmetic%20Dentures.jpg" alt="services image"></div>
                                    <p>A well made denture is not only comfortable and functions properly; it also allows the wearer to
                                        smile with confidence, knowing that their smile is no different than it would be with natural
                                        teeth.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <!--Modals 7 - 9-->
                    <div id="service-modal5" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Veneers</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/veneers.jpg" alt="services image"></div>
                                    <p>Veneers are very thin porcelain pieces that are custom made to adhere directly to the front of
                                        teeth without grinding or shaving. Transform your smile without drilling on your natural teeth!</p>
                                    <p>In the hands of a highly skilled dentist, porcelain laminates can provide you with an incredibly
                                        natural, beautiful smile. They are virtually undetectable and can dramatically improve your
                                        appearance. They are durable and long-lasting when compared to other cosmetic treatments.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div id="service-modal6" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Implant-Supported Dentures</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/Dental%20Implants.jpg" alt="services image"></div>
                                    <p>Do you wear dentures or have a mouthful of missing or failing teeth? Eat what you want again,
                                        smile, laugh, and look and feel years younger with All-on-4® implant-supported dentures.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div id="service-modal9" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Sedation Dentistry</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"><img src="assets/Services/sedation-dentistry.jpg" alt="services image"></div>
                                    <p>Sedation dentistry is an excellent treatment for patients with extensive dental needs, or who are
                                        concerned about anxiety, difficulty getting numb, or sensitive teeth.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                </div>
            </section>

            <!--<section id="section-insurance">-->
            <!--<div class="container">-->
            <!--<div class="row">-->
            <!--<div class="col-sm-7 col-md-6">-->
            <!--<h2>No Insurance?</h2>-->
            <!--<h4>Our Patients Don't Need It!</h4>-->
            <!--<h3>GET YOUR PREVENTIVE CARE<br>FOR A LOW MONTHLY FEE</h3>-->
            <!--<h6 class="sub-text">Exclusively for our uninsured patients</h6>-->
            <!--<h6 class="sub-text">Make easy payments for your preventive care</h6>-->
            <!--<h6 class="sub-text sub-text&#45;&#45;last">Save money on your treatment</h6>-->
            <!--<a class="btn" href="https://Priluck-smiles.illumitrac.com/#programs" target="_blank">Learn More</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="mobile-insurance-fix">-->
            <!--<img src="/assets/no-insurance-mobile.jpg" alt="mother and child smiling">-->
            <!--</div>-->
            <!--</section>-->

            <section id="section-tour">
                <div class="heading">
                    <div class="container center">
                        <h2>Office Tour</h2>
                        <p>We look forward to meeting you and your family. Our beautiful, Inviting office is a refreshing place to
                            relax while getting your dental work done. We welcome children too, so make an appointment today!</p>
                    </div>
                </div>

                <section id="slider" class="boxed-slider">

                    <div class="container clearfix">

                        <div class="fslider" data-animation="fade" data-thumbs="true" data-arrows="false" data-speed="1200" data-pause="7000">
                            <div class="flexslider">
                                <div class="slider-wrap">

                                    <div class="slide" data-thumb="assets/office-tour/1.jpg">
                                        <img src="assets/office-tour/1.jpg" alt="Tour Slide">
                                    </div>
                                    <div class="slide" data-thumb="assets/office-tour/2.jpg">
                                        <img src="assets/office-tour/2.jpg" alt="Tour Slide">
                                    </div>
                                    <!--<div class="slide" data-thumb="assets/office-tour/3.jpg">-->
                                    <!--<a href="#">-->
                                    <!--<img src="assets/office-tour/3.jpg" alt="Tour Slide">-->
                                    <!--</a>-->
                                    <!--</div>-->
                                    <div class="slide" data-thumb="assets/office-tour/4.jpg">
                                        <img src="assets/office-tour/4.jpg" alt="Tour Slide">
                                    </div>
                                    <div class="slide" data-thumb="assets/office-tour/5.jpg">
                                        <img src="assets/office-tour/5.jpg" alt="Tour Slide">
                                    </div>
                                    <div class="slide" data-thumb="assets/office-tour/6.jpg">
                                        <img src="assets/office-tour/6.jpg" alt="Tour Slide">
                                    </div>
                                    <div class="slide" data-thumb="assets/office-tour/7.jpg">
                                        <img src="assets/office-tour/7.jpg" alt="Tour Slide">
                                    </div>
                                    <!--<div class="slide" data-thumb="assets/office-tour/8.jpg">-->
                                    <!--<a href="#">-->
                                    <!--<img src="assets/office-tour/8.jpg" alt="Tour Slide">-->
                                    <!--</a>-->
                                    <!--</div>-->
                                    <div class="slide" data-thumb="assets/office-tour/9.jpg">
                                        <img src="assets/office-tour/9.jpg" alt="Tour Slide">
                                    </div>
                                    <div class="slide" data-thumb="assets/office-tour/10.jpg">
                                        <img src="assets/office-tour/10.jpg" alt="Tour Slide">
                                    </div>
                                    <!--<div class="slide" data-thumb="assets/office-tour/11.jpg">-->
                                    <!--<a href="#">-->
                                    <!--<img src="assets/office-tour/11.jpg" alt="Tour Slide">-->
                                    <!--</a>-->
                                    <!--</div>-->
                                    <div class="slide" data-thumb="assets/office-tour/12.jpg">
                                        <img src="assets/office-tour/12.jpg" alt="Tour Slide">
                                    </div>
                                    <div class="slide" data-thumb="assets/office-tour/13.jpg">
                                        <img src="assets/office-tour/13.jpg" alt="Tour Slide">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </section>

            </section>

            <section id="section-forms">
                <div class="container">
                    <div class="forms--wrapper">
                        <h2>New Patient Forms</h2>
                        <h5>Filling out these forms will save you time when you visit.</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.ident.ws/template_include/pi_login.jsp?site=12003&practiceId=40921&page=Patient+Information" class="btn btn__one" target="_blank">EXISTING PATIENT LOGIN</a>
                            </div>
                            <div class="col-md-4">
                                <a href="http://www.dentistrydifference.com/pdf/New-Patient-Forms.pdf" class="btn  btn__two" target="_blank">NEW PATIENT FORMS</a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.ident.ws/template_include/new_patient_sign_in.do?site=12003&practiceId=40921" class="btn btn__three" target="_blank">NEW PATIENT LOGIN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-care-credit">
                <div class="flex--wrapper">
                    <div class="text">
                        <h4>Financing available from</h4>
                    </div>
                    <div class="logo">
                        <a href="https://www.carecredit.com/" target="_blank"><img src="/assets/care-credit-footer.png" alt="Care Credit"></a>
                    </div>
                </div>
            </section>

            <section id="section-location" class="content-section">

                <div class="info--wrapper">
                    <div class="flex--wrapper">
                        <div class="info--text flex--item">
                            <h5 class="doctors">Jeffrey G. Priluck, DMD<br>Albert P. Nordone, DDS</h5>
                            <h5 class="address">5548 Chamblee Dunwoody Road<br>Dunwoody, GA 30338</h5>
                            <h6 class="info--map-link">
                                <a href="https://www.google.com/maps/place/Dentistry+With+A+Difference/@33.950376,-84.3390487,17z/data=!3m1!4b1!4m5!3m4!1s0x88f50be9094f8a1d:0x84df6b46056b0de9!8m2!3d33.950376!4d-84.33686" target="_blank">Click for map & directions</a>
                            </h6>
                        </div>
                        <div class="info--number flex--item">
                            <p class="new-patient-text">NEW PATIENT HOTLINE</p>
                            <h2 class="new-patient-number"><a href="tel:1-770-901-2622">(770)&nbsp;901&#8209;2622</a></h2>
                            <p class="existing-patient-text">Existing Patients: <a href="tel:1-770-901-2622" class="existing-patient-number">(770)&nbsp;901&#8209;2622</a></p>
                            <a href="#" class="btn" data-target="#requestAppointmentForm" data-toggle="modal">Request An Appointment</a>
                        </div>
                        <div class="info--hours flex--item">
                            <div class="hours-table">
                                <h5 class="hours-table--title">Office Hours</h5>
                                <table >
                                    <tbody>
                                    <tr>
                                        <th class="t400">Monday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Tuesday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Wednesday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Thursday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Friday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!--End flex wrapper-->

                <div class="map--wrapper">
                    <a href="https://www.google.com/maps/place/Dentistry+With+A+Difference/@33.950376,-84.3390487,17z/data=!3m1!4b1!4m5!3m4!1s0x88f50be9094f8a1d:0x84df6b46056b0de9!8m2!3d33.950376!4d-84.33686" target="_blank"><div id="google-map5" class="gmap"></div></a>
                </div>

                <div class="clearfix"></div>
            </section>

            <div id="requestModalContainer">

                <div class="modal fade" id="requestAppointmentForm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h3 class="modal-title font-dark-blue">Request Appointment</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-error"></div>
                            <form id="mail-form" method="post" action="//web-api.tysonsteele.com/v1/webprops/KEY/schedule" >
                                <h6 >YES! Please contact me to schedule an appointment or answer any questions I might still have:</h6>
                                <div class="row appointment_input_row form-group">
                                    <div class="col-xs-4">
                                        <label for="name">Name:</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="text" name="name" id="name" class="form-control appointment_form">
                                    </div>
                                </div>
                                <div class="row appointment_input_row form-group">
                                    <div class="col-xs-4">
                                        <label for="confirmed_email">Email:</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="email" name="confirmed_email" id="confirmed_email" class="form-control appointment_form">
                                    </div>
                                </div>
                                <div class="row appointment_input_row form-group ">
                                    <div class="col-xs-4">
                                        <label for="phone">Phone:</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="text" name="phone" id="phone" class="form-control appointment_form">
                                    </div>
                                </div>
                                <div class="center">
                                    <button type="submit" class="btn form-btn">Request Appointment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <script type="text/template" id="success_msg">
                    <p>Congratulations! Dentistry is a big part of a healthy life, and we're excited to be a part of yours. We will
                        contact you in the next 2 business days to schedule your appointment and to answer any questions you may still have.
                        Thank you!</p>
                </script>
            </div>

        </div>

    </div><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="footer ">

        <div class="footer-padding">
            <div class="container">
                <div class="flex--wrapper">
                    <div class="text">
                        <p class="notd">Copyright &copy; 2017 All Rights Reserved by <a href="http://www.tysonsteele.com/" target="_blank" class="">Tyson<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">&nbsp;</span>Steele<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">&nbsp;</span>Associates</a>.</p>
                    </div>
                    <div class="social-media-links">
                        <a href="https://www.instagram.com/dentistrywithadifference/" target="_blank" class="social-icon si-colored si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="https://www.yelp.com/biz/dentistry-with-a-difference-dunwoody" class="social-icon si-colored si-yelp " target="_blank">
                            <i class="icon-yelp"></i>
                            <i class="icon-yelp"></i>
                        </a>
                        <a href="https://www.facebook.com/pg/dentistrywithadifference/reviews/?ref=page_internal" target="_blank" class="social-icon si-colored si-facebook ">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="https://www.youtube.com/watch?v=_Rq_xN5cL-A&feature=youtu.be" target="_blank" class="social-icon si-colored si-youtube">
                            <i class="icon-youtube"></i>
                            <i class="icon-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->

{% include 'organisms/foot.twig' %}

</body>
</html>
