<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include '/organisms/head.twig' %}

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  {% include 'organisms/header.twig' %}

  {% include 'organisms/marquee.twig' %}

    <!-- Content
  ============================================= -->

    <div id="content" >

        <div>

            {% include 'organisms/about.twig' %}

            {% include 'organisms/specials.twig' %}

            {% include 'molecules/cta__two-to-one.twig' %}

            {% include 'organisms/reviews.twig' %}

            {% include 'organisms/insurance.twig' %}


            {% include 'organisms/services.twig' %}


            <section id="section-tour">
                <div class="heading">
                    <div class="container center">
                        <h2>Office Tour</h2>
                        <p>We look forward to meeting you and your family. Our beautiful, Inviting office is a refreshing place to
                            relax while getting your dental work done. We welcome children too, so make an appointment today!</p>
                    </div>
                </div>

            </section>

            <section id="section-forms">
                <div class="container">
                    <div class="forms--wrapper">
                        <h2>New Patient Forms</h2>
                        <h5>Filling out these forms will save you time when you visit.</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.ident.ws/template_include/pi_login.jsp?site=12003&practiceId=40921&page=Patient+Information" class="btn btn__one" target="_blank">EXISTING PATIENT LOGIN</a>
                            </div>
                            <div class="col-md-4">
                                <a href="http://www.dentistrydifference.com/pdf/New-Patient-Forms.pdf" class="btn  btn__two" target="_blank">NEW PATIENT FORMS</a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.ident.ws/template_include/new_patient_sign_in.do?site=12003&practiceId=40921" class="btn btn__three" target="_blank">NEW PATIENT LOGIN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-care-credit">
                <div class="flex--wrapper">
                    <div class="text">
                        <h4>Financing available from</h4>
                    </div>
                    <div class="logo">
                        <a href="https://www.carecredit.com/" target="_blank"><img src="/assets/care-credit-footer.png" alt="Care Credit"></a>
                    </div>
                </div>
            </section>

            <section id="section-location" class="content-section">

                <div class="info--wrapper">
                    <div class="flex--wrapper">
                        <div class="info--text flex--item">
                            <h5 class="doctors">Jeffrey G. Priluck, DMD<br>Albert P. Nordone, DDS</h5>
                            <h5 class="address">5548 Chamblee Dunwoody Road<br>Dunwoody, GA 30338</h5>
                            <h6 class="info--map-link">
                                <a href="https://www.google.com/maps/place/Dentistry+With+A+Difference/@33.950376,-84.3390487,17z/data=!3m1!4b1!4m5!3m4!1s0x88f50be9094f8a1d:0x84df6b46056b0de9!8m2!3d33.950376!4d-84.33686" target="_blank">Click for map & directions</a>
                            </h6>
                        </div>
                        <div class="info--number flex--item">
                            <p class="new-patient-text">NEW PATIENT HOTLINE</p>
                            <h2 class="new-patient-number"><a href="tel:{{ newPhone }}">{{ newPhoneNoBreak }}</a></h2>
                            <p class="existing-patient-text">Existing Patients: <a href="tel:1-770-901-2622" class="existing-patient-number">(770)&nbsp;901&#8209;2622</a></p>
                            <a href="#" class="btn" data-target="#requestAppointmentForm" data-toggle="modal">Request An Appointment</a>
                        </div>
                        <div class="info--hours flex--item">
                            <div class="hours-table">
                                <h5 class="hours-table--title">Office Hours</h5>
                                <table >
                                    <tbody>
                                    <tr>
                                        <th class="t400">Monday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Tuesday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Wednesday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Thursday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    <tr>
                                        <th class="t400">Friday:</th>
                                        <td>7:00am - 5:00pm</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!--End flex wrapper-->

                <div class="map--wrapper">
                    <a href="https://www.google.com/maps/place/Dentistry+With+A+Difference/@33.950376,-84.3390487,17z/data=!3m1!4b1!4m5!3m4!1s0x88f50be9094f8a1d:0x84df6b46056b0de9!8m2!3d33.950376!4d-84.33686" target="_blank"><div id="google-map5" class="gmap"></div></a>
                </div>

                <div class="clearfix"></div>
            </section>

            <div id="requestModalContainer">

                <div class="modal fade" id="requestAppointmentForm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h3 class="modal-title font-dark-blue">Request Appointment</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-error"></div>
                            <form id="mail-form" method="post" action="//web-api.tysonsteele.com/v1/webprops/KEY/schedule" >
                                <h6 >YES! Please contact me to schedule an appointment or answer any questions I might still have:</h6>
                                <div class="row appointment_input_row form-group">
                                    <div class="col-xs-4">
                                        <label for="name">Name:</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="text" name="name" id="name" class="form-control appointment_form">
                                    </div>
                                </div>
                                <div class="row appointment_input_row form-group">
                                    <div class="col-xs-4">
                                        <label for="confirmed_email">Email:</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="email" name="confirmed_email" id="confirmed_email" class="form-control appointment_form">
                                    </div>
                                </div>
                                <div class="row appointment_input_row form-group ">
                                    <div class="col-xs-4">
                                        <label for="phone">Phone:</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="text" name="phone" id="phone" class="form-control appointment_form">
                                    </div>
                                </div>
                                <div class="center">
                                    <button type="submit" class="btn form-btn">Request Appointment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <script type="text/template" id="success_msg">
                    <p>Congratulations! Dentistry is a big part of a healthy life, and we're excited to be a part of yours. We will
                        contact you in the next 2 business days to schedule your appointment and to answer any questions you may still have.
                        Thank you!</p>
                </script>
            </div>

        </div>

    </div><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="footer ">

        <div class="footer-padding">
            <div class="container">
                <div class="flex--wrapper">
                    <div class="text">
                        <p class="notd">Copyright &copy; 2017 All Rights Reserved by <a href="http://www.tysonsteele.com/" target="_blank" class="">Tyson<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">&nbsp;</span>Steele<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">&nbsp;</span>Associates</a>.</p>
                    </div>
                    <div class="social-media-links">
                        <a href="https://www.instagram.com/dentistrywithadifference/" target="_blank" class="social-icon si-colored si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="https://www.yelp.com/biz/dentistry-with-a-difference-dunwoody" class="social-icon si-colored si-yelp " target="_blank">
                            <i class="icon-yelp"></i>
                            <i class="icon-yelp"></i>
                        </a>
                        <a href="https://www.facebook.com/pg/dentistrywithadifference/reviews/?ref=page_internal" target="_blank" class="social-icon si-colored si-facebook ">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="https://www.youtube.com/watch?v=_Rq_xN5cL-A&feature=youtu.be" target="_blank" class="social-icon si-colored si-youtube">
                            <i class="icon-youtube"></i>
                            <i class="icon-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->

{% include 'organisms/foot.twig' %}

</body>
</html>
