#slider {
  height: 80vh;
  max-height: 800px;
  min-height: 700px;

  .swiper-slide.slide1 {
    background-image: url('/assets/slide-1.jpg');
  }
  .swiper-slide.slide2 {
    background-image: url('/assets/slide-2.jpg');
  }
  .swiper-slide.slide3 {
    background-image: url('/assets/slide-3.jpg');
  }
  .swiper-slide.slide4 {
    background-image: url('/assets/slide-4.jpg');
  }
  .swiper-slide .row {
    transform: translateY(-50%);
    top: 50%;
    position: relative;
  }

  .slide1 {
    h1 {
      @include font-size(100px, 80px, 65px, 65px, 65px);
      color: #3A5464;
      font-weight: 400;
      margin-bottom: 5px;
      line-height: 1.2;
    }
    h2 {
      @include font-size(72px, 60px, 55px, 65px, 65px);
      color: #96BB5D;
      font-family: $ff-lato;
      font-weight: 400;
      line-height: 1.2;
    }
    h5 {
      font-size: 22px;
      text-transform: uppercase;
      color: #404040;
    }
    a {
      margin-left: 5px;
    }
  }
  .slide2 {
    text-align: center;
    h2 {
      font-weight: 400;
      color: #024378;
      margin-bottom: 0;
      line-height: 1.2;
    }
    .stars>h2 {
      color: #f5e82e;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    .copy {
    }
  }
  //.slide3 {
  //  h1 {
  //    color: $c-white;
  //    margin-bottom: 0;
  //    font-weight: 400;
  //    line-height: $lh-sm;
  //  }
  //  h2 {
  //    color: $c-white;
  //    font-weight: 400;
  //    line-height: $lh-sm;
  //  }
  //  h4 {
  //    text-transform: uppercase;
  //    color: $c-white;
  //    font-weight:bold;
  //    line-height: $lh-sm;
  //    margin-bottom: $spacing-lg;
  //  }
  //  .btn {
  //    @include lr-padding(80px, 60px, 60px);
  //  }
  //}

  .icon-star3 {
    color: $c-star;
  }

}

#mobile-background {
  display: none;
  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}